-f https://download.pytorch.org/whl/torch_stable.html torch==1.10.1+cpu torchvision==0.11.2+cpu
librosa
# librosa needs numpy<=1.20
# ref: https://stackoverflow.com/questions/71689095/how-to-solve-the-pytorch-runtimeerror-numpy-is-not-available-without-upgrading
numpy
pyyaml
tqdm
addict
# grad-cam
boto3
awslambdaric
