-f https://download.pytorch.org/whl/torch_stable.html torch==1.8.1+cpu torchvision==0.9.1+cpu; sys_platform=="linux"
tensorboard
pyyaml
pandas
tqdm
addict
grad-cam
audiomentations
optuna
optuna-dashboard
librosa